services:
  qdrant:
    image: qdrant/qdrant:latest
    container_name: qdrant_db
    ports:
      - "6333:6333"
    volumes:
      - ./qdrant_storage:/qdrant/storage

  backend:
    build: .
    container_name: semantic_backend
    ports:
      - "8000:8000"
    # ГОВОРИМ ДОКЕРУ ИСПОЛЬЗОВАТЬ .ENV ФАЙЛ
    env_file:
      - .env
    extra_hosts:
      - "host.docker.internal:host-gateway"
    depends_on:
      - qdrant

  frontend:
      image: python:3.12-slim
      volumes:
        - .:/app
      working_dir: /app
      environment:
        # Это "мост" между контейнерами. 
        # Мы говорим фронтенду: "Бэкенд — это не localhost, а сервис с именем semantic_backend"
        - API_URL=http://semantic_backend:8000
      command: sh -c "pip install streamlit requests && streamlit run app/frontend.py --server.port 8501 --server.address 0.0.0.0"
      ports:
        - "8501:8501"
      depends_on:
        - backend